<mat-card
  _ngcontent-twh-c40=""
  class="mat-card mat-focus-indicator"
  style="
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  "
>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="sevaUser.suEmail" name="email" />
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="sevaUser.suPassword" name="password" />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="loginUser(sevaUser)">
      Sign In
    </button>
    <button mat-raised-button color="primary" (click)="gotoRegisterPage()">
      Register
    </button>
  </mat-card-actions>
</mat-card>
