<mat-card
  _ngcontent-twh-c40=""
  class="mat-card mat-focus-indicator"
  style="
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  "
>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Full Name</mat-label>
        <input matInput [(ngModel)]="sevaUserModel.suName" name="fullname" />
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <mat-label>Mobile No.</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="sevaUserModel.suPhone"
          name="phoneno"
        />
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          [(ngModel)]="sevaUserModel.suEmail"
          name="email"
        />
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [(ngModel)]="sevaUserModel.suPassword"
          name="password"
        />
      </mat-form-field>
    </form>
    <form>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          [(ngModel)]="sevaUserModel.suConfirmPassword"
          name="confirmpassword"
        />
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="gotoSignInPage()">
      Sign In
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="registerUser(sevaUserModel)"
    >
      Register
    </button>
  </mat-card-actions>
</mat-card>
